<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="com.microphone.getvolume" 
        version="0.0.1">  

    <!-- Information -->
    <name>MicVolume</name>
    <description>Reads microphone volume from device</description>
    <author>Marvin Baumgart</author>
    <license>MIT</license>
    <keywords>Ionic, Plugin, Audio, Sound, Volume, Mic, Microphone</keywords>
    <repo>https://github.com/Marvin1992/microphone-plugin.git</repo>

    <!--
    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>
    -->
    
    <!-- JavaScript Module -->
<!--
    <js-module src="www/microphone.js" name="microphone">
        <clobbers target="window.microphone" />
    </js-module>
-->

    <!-- Android Platform -->
    <platform name="android">
        <js-module src="www/microphone.js" name="microphone">
            <runs/>
            <clobbers target="cordova.plugins.Microphone" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MicrophonePlugin">
                <param name="android-package" value="com.microphone.getvolume"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        </config-file>     

        <source-file src="src/android/Microphone.java" target-dir="src/com/microphone/getvolume"/>
    </platform>          
</plugin>